---
import AnimatedLink from "../ui/buttons/AnimatedLink"
import ButtonSlide from "../ui/buttons/ButtonSlide"
import SubscribeForm from "./SubscribeForm"
import EmailLink from "./EmailLink"
const explore = [
    {
        text: "SHOP",
        href: "/shop"
    },  
    {
        text: "ABOUT",
        href: "/about"
    },
    {
        text: "INGREDIENTS",
        href: "/ingredients"
    },
    {
        text: "TESTIMONIALS",
        href: "/testimonials"
    },
    {
        text: "FAQS",
        href: "/faqs"
    },
    // {
        // text: "LEARN",
        // href: "#"
    // }
]

const follow = [

    {
        text: "INSTAGRAM",
        href: "https://www.instagram.com/dibrunolab/?hl=en"
    },
    {
        text: "FACEBOOK",
        href: "https://www.facebook.com/dibrunolab/?locale=es_LA"
    },
]

const contact = [
    {
        text: "support@dibruno.us",
    }
    
]
---
<footer class="relative w-full font-sans flex flex-col sm:gap-12 gap-36 sm:pt-[200px] pt-0">
    <img src="/images/home/footer.png" alt="Footer" class="hidden sm:block w-full h-full object-cover" />
    <img src="/images/home/footerResponsive.png" alt="Footer" class="block sm:hidden w-full h-full object-cover" />
    <div class="w-full h-full sm:px-16 px-4">
        <div class="flex sm:flex-col flex-col-reverse gap-10 sm:w-[755px] w-full">
            <img src="/images/home/logo.svg" alt="Logo" class="w-[187px] h-[31px]" />
            <div class="grid grid-cols-2 sm:grid-cols-3 gap-x-40 sm:gap-x-8  gap-y-8 items-start">
                <div class="w-full">
                    <div class="flex flex-col text-d-footer text-primary-olive gap-5">
                        <span class="text-primary-granite">EXPLORE</span>
                        <ul class="flex flex-col gap-4">
                            {
                                explore.map((item): {text: string, href: string} => (
                                    <li>
                                        <AnimatedLink text={item.text} href={item.href} />
                                    </li>
                                ))
                            }
                            
                        </ul>
                    </div>
                </div>
                <div class="w-full">
                    <div class="flex flex-col text-d-footer text-primary-olive gap-5">
                        <span class="text-primary-granite">FOLLOW US</span>
                        <ul class="flex flex-col gap-4">
                            {
                                follow.map((item): {text: string, href: string} => (
                                    <li>
                                        <AnimatedLink text={item.text} href={item.href} target="_blank" />
                                    </li>
                                ))
                            }
                            
                        </ul>
                    </div>
                </div>
                <div class="w-full">
                    <div class="flex flex-col text-d-footer text-primary-olive gap-5">
                        <span class="text-primary-granite">CONTACT US</span>
                        <ul class="flex flex-col gap-4">
                            {
                                contact.map((item): {text: string, href: string} => (
                                    <EmailLink 
                                        client:load
                                        email={item.text} 
                                        className="" 
                                    />
                                ))
                            }
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscribe-w absolute sm:top-[640px] top-[370px] sm:right-16 bg-primary-bright px-8 sm:px-10 py-10 sm:mx-0 mx-auto sm:h-[577px] h-[400px] flex flex-col sm:gap-10 gap-6">
            <h2 class="sm:text-d-title-1 text-d-title-2 text-primary-olive">
                HEAR MORE <br /> FROM US
            </h2>
            <p class="text-d-secondary text-primary-olive text-lg">
                Subscribe to receive special offers, giveaways, and be the first to know about new releases and news.
            </p>
            <SubscribeForm client:load />  
        </div>
        <div class="flex sm:flex-row flex-col sm:justify-between align-start sm:align-center text-d-footer text-[#A9A9A9] pt-10 sm:px-section-d-gap-x  px-0 sm:my-10 my-0 gap-6">
            <span class="">
                &copy; 2025 Di bruno All rights reserved.
            </span>
            <div class="flex sm:flex-row flex-col sm:gap-16 gap-2 ">
                <a href="/policy/terms-of-service" class="hover:text-primary-olive">
                    Terms of Service
                </a>
                <a href="/policy/privacy-policy" class="hover:text-primary-olive">
                    Privacy Policy
                </a>
                <a href="/policy/refund-policy" class="hover:text-primary-olive">
                    Refund Policy
                </a>
            </div>
        </div>
    </div>

</footer>

<style>
    .subscribe-w {
        width: 529px;
    }
    @media (max-width: 768px) {
        .subscribe-w {
            width: calc(100% - 32px);
        }
    }
</style>